:root {
    --dark: #1779ba;
    --light: #fefefe;
}

header.card {
    background-color: var(--dark);
    color: var(--light);
    border: none;
}

.uv-index {
    padding: .05rem .15rem;
    border-radius: .2rem;
    background-color: gray;
    color: var(--light);
}

.uv-index.low {
    background-color: green;
}
.uv-index.moderate {
    background-color: yellow;
    color: black;
}
.uv-index.high {
    background-color: orange;
}
.uv-index.very-high {
    background-color: red;
}
.uv-index.extreme {
    background-color: purple;
}

#forecast > .card {
    background-color: var(--dark);
    color: var(--light);
}